/* General Reset */
body, h1, h2, p, ul, li, table, th, td, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    
}

header {
    background: linear-gradient(#333,#1e1e1e);
    padding: 12px 20px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 250px;
    display: flex;
    align-items: center;
    justify-self: left;
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart h1 {
    margin-bottom: 20px;
    color: #1e1e1e;
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background: #1e1e1e;
    color: white;
}

.item button {

    border: none;
    background: #1e1e1e;
    padding: 5px 5px;
    margin: 0px 10px;
    color: white;
    border-radius: 2px;
    text-align: center;
    font-weight: 700;

}

.item button:hover {
    background: linear-gradient(#333,white);
    color: #1e1e1e;
    border: #1e1e1e;
    border: thin;
    cursor: pointer;
    transition: 0.2s;
}

.cart-summary {
    text-align: center;
    margin-top: 20px;
}

.cart-summary p {
    margin: 10px 0;
}

#checkout-button {
    background: #1e1e1e;
    color: white;
    border: none;
     
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#checkout-button:hover {
    background: white;
    color: #1e1e1e;
    border: solid;
    border-width: 1px;
    border-color: #1e1e1e;
}

footer {

    position: absolute;
    bottom: 0px;
    width: 97%;
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    
}

/* Media Queries */

/* Tablet Layout */
@media only screen and (max-width: 768px) {
    header .logo img {
        align-items: center;
        display: flex;
    }

    .cart {
        padding: 15px;
    }

    .cart-table th, .cart-table td {
        padding: 8px;
    }

    #checkout-button {
        padding: 8px 15px;
    }
}

/* Mobile Layout */
@media only screen and (max-width: 600px) {

    header .logo img {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .cart {
        margin: 20px;
        padding: 10px;
    }

    .cart-summary p {
        font-size: 0.9rem;
    }

    #checkout-button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    footer {
        padding: 10px;
    }
}

